<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.tmp.dao.CommentDAO">
  <insert id="insertComment">
  	insert into comment(co_po_num, co_me_id, co_content, co_num, co_ori_num)
  	select #{comment.co_po_num},#{comment.co_me_id},#{comment.co_content}, 
  		ifnull(max(co_num), 0) + 1, 
  		<if test="comment.co_ori_num == 0">
  			ifnull(max(co_num), 0) + 1
  		</if>
  		<if test="comment.co_ori_num != 0">
  			#{comment.co_ori_num}
  		</if>
  		from comment
  </insert>
  <select id="selectCommentList" resultType="CommentVO">
  	select * from comment where co_po_num = #{criteria.po_num} order by co_ori_num desc, co_num limit #{criteria.pageStart}, #{criteria.perPageNum}<!-- limit은 거의 고정. 시작번호랑 몇개 띄울건지.. 대댓글 하기 위해 co_ori_num을 먼저 -->
  </select>
  
  <select id="selectTotalCommentCount" resultType="int">
  	select count(*) from comment where co_po_num = #{criteria.po_num}
  </select>
  
  <update id="deleteComment">
  	update comment set co_del = "Y" where co_num=#{co_num}
  </update>
  
  <select id="selectComment" resultType="commentVO">
  	select * from comment where co_num = #{co_num} and co_del = 'N'
  </select>
  
  <update id="updateComment">
  	update comment set co_content = #{comment.co_content} where co_num = #{comment.co_num}
  </update>
</mapper>
